# Gradle
.gradle/
/build/
**/build/
!gradle/wrapper/gradle-wrapper.jar


# Android Studio
.idea/
*.iml
.cxx/
/local.properties
/captures/
.externalNativeBuild/


# Keystores / secrets
*.jks
*.keystore
**/keystore.properties


# Logs
*.log


# OS
.DS_Store
Thumbs.db